body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 280px;
    height: 250px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0;


}

nav li {
    display: inline;
    margin: 100px;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

main {
    padding: 20px;
}

.banner {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.banner h2 {
    color: #333;
}

.servicos {
    padding: 20px;
}

.servicos h3 {
    color: #333;
    margin-bottom: 10px;
}

.servicos ul {
    list-style: none;
    padding: 0;
}

.servicos li {
    margin-bottom: 5px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}


.agendamento {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.agendamento h2 {
    color: #333;
    margin-bottom: 10px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

select, input[type="date"], input[type="time"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 25px;
    position: relative; 
}

footer img {
    position: absolute;
    top: 52%;
    left: 93%;
    transform: translate(-50%, -50%);
}